@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');


h1, h2, h3, h4 , h5 ,h6 {
  font-family: Montserrat;
  color:#2A3A3F;
}
h1 {
  font-size:43px!important;
  letter-spacing: 1px;
}

.darktext {
  color:#2A3A3F;
  text-align: left;
}

h2 {
   font-size:31px;
}

p {
  font-family: "Open Sans";
  font-size:18px;
  font-weight:100;
  color:#999;
}

a {
    text-decoration:none!important;
  font-family: "Open Sans"!important;
  }

hr{
   border: 0.1px solid #e5e4e4;
}

.linkcolor {
  color:#fff;
}
.linkcolor:hover {
  color:#999;
}

body {
  max-width:1920px;
}
.container {
  max-width:1170px;
  margin:auto;
}
li{
  display:inline;
    margin:0px 15px 0px 15px;
}
.headerbox {
  max-width:1170px;
  margin:auto;
  position:relative;
  top: 210px;
  }

.headertext {
  color:#fff;
  font-weight:thin;
}
span {
  color:#3aa17a;
}

.buttons {
  margin-top:40px;
}

.TopButton {
    top: 540px;
position: fixed;
right: 15px;
}

.testbox{
  display: flex;
width: 100%;
justify-content: flex-end;

}

.fa-caret-up {
    font-size: 40px;
    color: #39a17a;
    cursor: pointer;
    text-shadow: 2px 2px 4px #00000080;
}

.fa-caret-up:hover {
    background: #39a17a;
    color: #fff;
    padding: 0px 14px 8px 13px;
    border-radius: 50px;
     transition: 1s;
     font-size: 50px;
     box-shadow: 2px 2px 4px #00000080;
}

.fa-arrow-alt-circle-up {
    font-size: 50px;
    color: #39a17a;
    cursor: pointer;
}

.header {
  background: #000 url("https://www.dropbox.com/s/g58le6y3ksv3mtu/mockup.jpg?dl=1") fixed; 
height:700px;
  margin-top:-100px;
}

.cta {
 border:1px solid #39a17a;
  color:#fff;
  padding:12px 23px 12px 23px;
  border-radius:50px;
  position:relative;
  top:70px;
  font-size: 18px;
   }

.cta:hover {
 border:1px solid #39a17a;
  color:#fff;
  padding:12px 23px 12px 23px;
  border-radius:50px;
  position:relative;
  top:70px;
  text-decoration:none;
  background:#39a17a;
  transition: 1s;
  font-size: 18px;
     }

.portclass {
  height: 150px;
}


     .ctap {
border:1px solid #39a17a;
  color:#fff;
  padding:12px 23px 12px 23px;
  border-radius:50px;
   font-size: 18px;

     }

     .ctap :hover{
border:1px solid #39a17a;
  color:#fff;
  padding:12px 23px 12px 23px;
  border-radius:50px;
   font-size: 18px;

     }


i.fa.fa-code, i.fa.fa-paint-brush, i.fa.fa-cogs {
  font-size:60px;
  color:#39a17a;
  margin-bottom:15px;
}
.skills {
    margin-top: 110px;
}
.flex-box-skills {
    margin-top: 78px;
    display: flex;
     margin-bottom: 110px;
 justify-content: space-between;
}

.first, .second, .third {
width: 30%;
box-sizing: border-box;
}
 
.flex-portbox, .flex-container {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

.port-first, .port-second, .flex-ski-one, .flex-ski-two {
padding-bottom: 110px;
width: 45%;
box-sizing: border-box;
}

.flex-more {
display: flex;
margin-bottom: 110px;
  justify-content: space-between;
}

.more-one, .more-two, .more-three {
width: 30%;
box-sizing: border-box;
}

.about-flex {
display: flex;
margin-bottom: 110px;
  justify-content: space-between;
}

.about-one, .about-two{
width: 45%;
box-sizing: border-box;
}

.row {
    margin-bottom: 110px;
}
.mail:hover {
  text-decoration:none;
}
.fullwidth {
    background: #f3f3f3;
}
.leftalign {
  text-align:left;
}



.visitweb {
  font-size:18px;
  color:#000;
  border:1px solid #39a17a;
  padding:12px 30px 12px 30px;
  border-radius:50px;
  font-family:Calibri;
  color:#2A3A3F;
  }
.visitweb:hover {
  text-decoration:none;
  color:#ffffff;
  padding:12px 30px 12px 30px;
  background:#39a17a;
  transition: 1s;
  }

.fixedwidth {
  max-width:300px;
  margin:auto;
  }
.morework, .aboutmebox, .footerbox {
    margin-top: 70px;
}
.contactbox{ 
  margin:70px 0px 70px 0px;
}

.aboutme {
    background: #39a17a;
}
.footer {
    background: #2A3A3F;
}
.footerbox {
  margin-bottom:50px;
}
.logofooter {
    margin-bottom: 20px;
}

.mob-nav-button, .mobile-header-under, .mobile-header, .mob-nav, .mobile-nav-box {
  display:none;
}

.mob-but-men{
  display: none;
}

.border{
border-radius: 10px;
}

/* Mobile styling */
@media only screen and  (max-width:600px) {
.headerbox, .nav-button, .testbox {
display: none;
}

.fas{
  color:#fff;
  font-weight: 600;
font-size: 25px;
}
.mob-nav-button, .mobile-header-under, .mobile-header, .mobile-nav-box {
  display:block;
}
.mobile-header {
position: relative;
top:50px;
margin-top: 73px;
}

.mobile-nav-box {
    position: relative;
    background: #00000080;
    position:fixed;
    width: 100%;
}

.mobile-header-under {
max-width: 150px;
margin: auto;
}

.flex-box-skills, .flex-portbox, .flex-container, .flex-more, .about-flex {
    margin-top: 78px;
    display: block;     
     }
.mob-headertext{
  margin-top: 50;
  color:#fff;
      font-size: 26px;
}

.port-first, .port-second {
width: 100%;
}

.first, .second, .third, .more-one, .more-two, .more-three, .about-one, .about-two {
padding-bottom: 50px;
width: 100%;
}

.leftalign, .darktext {
  text-align: center;
}

.flex-ski-one {
width: 100%;
position: relative;
top: 370px;
}

.flex-ski-two {
width: 100%;
order:2;
position: relative;
top: -370px;
}

.header {
    background: #000 url("https://www.dropbox.com/s/g58le6y3ksv3mtu/mockup.jpg?dl=1") fixed;
    height: 700px;
    margin-top: -383.1px;
}

.navbar {
    position: relative;
    min-height: 50px;
    right: 33px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    margin-top: -55px;

}

.w3-bar-item.w3-button.w3-xxxlarge.w3-hover-theme {

    font-size: 35px;
    color: #fff;
    border: none;
    background: none;
    position: relative;
    padding-left: 22px;
}

.w3-button.w3-display-topright.w3-large {

    float: right;
    cursor: pointer;
    position: relative;
    top: 20px;
    right: 20px;
    color: #fff;

}
#mySidebar {
    background: #333333;
}

.linkcolora {
  color:#fff;
}
.linkcolora:hover {
  color:#999;
}

 .mob-nav {
background: #151515;
display: block;

  }


 ul {
    margin-top: 0;
    margin-bottom: 10px;
    display: grid;
}

li {

    display: inline;
    margin: 10px 15px 10px -15px;

}

.mob-logo {

    padding: 10px;

}

ul {

    margin-top: 0;
    margin-bottom: 3px!important;

}
.far.fa-times-circle {

    font-size: 25px;

}
.stack{
padding-top: 20px;
padding-bottom: 20px;
}
.mob-but-men{
  display: block;
}
}